body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333333;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.boxUno, .boxDos, .boxTres{
    width: 350px;
    height: 500px;
    background-color: #585858;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    margin-top: 30px;
}
.box :hover{
    background-color: lightgray;
}
.title{
    display: flex;
    justify-content: center;
}
h1{
    color: #ffffff;
}
p{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #ffffff;
}
.precio{
    font-size: 50px;
}
.botonUno{
    position: absolute;
    top: 600px;
    left: 90px; 
}
.botonDos{
    position: absolute;
    top: 600px;
    left: 500px; 
}
.botonTres{
    position: absolute;
    top: 600px;
    left: 900px; 
}
button{
    color: #21759B;
    width: 280px;
    height: 50px;
    background-color: #CDCDCD;
    border: none;
    border-radius: 5px;
}