body,html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color:#D3D3D3;
}
.contenedor{
    width: 680px;
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dado{
    display: flex;
    width: 95px;
    height: 95px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
