body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;

}
h1, p{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-top: 180px;
}
h2{
    font-weight: bold;
}
p{
    margin-bottom: 100px;
    color: #AAAEB7;
    font-size: 15px;
}
div{
    display: flex;
    flex-direction: row;
}
.abajo, .arriba{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 350px;
    margin-right: 60px;
}
img{
    width: 45px;
    height: 45px;
}
button{
    border: none;
    border-radius: 5px;
}
@media (max-width: 800px)and (min-width:600px) {
    .arriba, .abajo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}